.faIcon {
  cursor: pointer;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}

.dropdown-item {
  cursor: pointer;
}

.filters {
  padding-right: 50%;
}

.btn-primary {
  background: #38686a;
}

.btn-primary:hover {
  background: #1f8fb1;
}

[v-cloak] {
  display: none;
}
